<!DOCTYPE html>
<html>
	<head>
		<title>Hello</title>
		<meta charset="UTF-8">
		<link rel = "stylesheet" href="<%= url('/style.css') %>">
	</head>
	<body>
		<h1></h1>
	</body>
</html>
<h1>This is my home page</h1>

<%= link_to 'About', pages_about_path %>
<%= link_to image_tag('profileimage.png'), 'www.mashrurhossain.com' %>